opcua:
  controllers:
    # - name: "CtrlX_1"
    #   site: Cube-Ulm
    #   server_url_client: "opc.tcp://192.168.1.10:4840"  #Use with real CtrlX
    #   # server_url_server: "opc.tcp://0.0.0.0:4840"         #Use with simulated CtrlX
    #   # server_url_client: "opc.tcp://ctrlx-nodes:4840"     #Use with simulated CtrlX
    #   namespace: 192.168.1.1
    #   username: "boschrexroth"
    #   password: "boschrexroth"
    #   nodes:

    #     - NodeId: "ns=2;s=plc/app/Station1/sym/Monitoring/rEnergyConsumption"
    #       NamespaceIndex: 2
    #       RouteName: "plc/app/Station1/sym/Monitoring/rEnergyConsumption"
    #       BrowseName: "rEnergyConsumption"
    #       level: 8
    #       update_interval: 1000                # time in miliseconds
    #       variation_threshold: 0.01            # save if the variation is higher than 5%
    #       is_run_status: False                 # is a bool
    #       table_storage: 1S                    # Table to save
    #       simulation_value: 100                # use with simulated 
    #       variation_simulation: 0.1           # 6 % of variation with simulated ctrlX

        # - NodeId: "ns=2;s=framework/bundles/com_boschrexroth_plc_system/active"
        #   NamespaceIndex: 2
        #   RouteName: "framework/bundles/com_boschrexroth_plc_system/active"
        #   BrowseName: "active"
        #   Level: 10
        #   update_interval: 1000
        #   is_run_status: True
        #   table_storage : 1M
        #   simulation_value: True
        #   variation_simulation: 5    #after 2 seconds it changes to the invert boolean value

    - name: "CtrlX_2"
      site: Cube-Ulm
      server_url_client: "opc.tcp://192.168.1.1:4840"          #Use with real CtrlX
      # server_url_server: "opc.tcp://0.0.0.0:4841"             #Use with simulated CtrlX
      # server_url_client: "opc.tcp://ctrlx-nodes:4841"         #Use with simulated CtrlX
      namespace: 192.168.1.1
      username: "boschrexroth"                        # Fill with real Ctrlx
      # password: "boschrexroth"
      password: "Boschrexroth1"                        # Fill with real Ctrlx

    #   #Fill with CtrlX with security
    #   interface: 15
    #   security_mode: "SignAndEncrypt"  
    #   security_policy: "Basic256Sha256"  
    #   private_key_path: "/certs/client-key.pem" 

      #Do not modify connections tries
      timeout: 10  
      update_interval: 1
      retries: 10
      retry_delay: 4

      nodes:
      
        - NodeId: "ns=2;s=plc/app/Application/sym/GVL_HMI/P_s"
          NamespaceIndex: 2
          RouteName: "plc/app/Application/sym/GVL_HMI/P_s"
          BrowseName: "P_s"
          Level: 8
          update_interval: 500               #how fast should we ask OPCUA
          variation_threshold: 0.01  # 5% of variation
          is_run_status: False
          table_storage: 1S
          simulation_value: 100                # use with simulated 
          variation_simulation: 0.06           # 6 % of variation with simulated ctrlX

        - NodeId: "ns=2;s=plc/app/Application/sym/GVL_HMI/P_a"
          NamespaceIndex: 2
          RouteName: "plc/app/Application/sym/GVL_HMI/P_a"
          BrowseName: "P_a"
          Level: 8
          update_interval: 500
          variation_threshold: 0.01  # 5% of variation
          is_run_status: False
          table_storage: 1S
          #important only while simulating ctrlX
          simulation_value: 100                
          variation_simulation: 0.06           

        - NodeId: "ns=2;s=plc/app/Application/sym/GVL_HMI/P_b"
          NamespaceIndex: 2
          RouteName: "plc/app/Application/sym/GVL_HMI/P_b"
          BrowseName: "P_b"
          Level: 8
          update_interval: 500
          variation_threshold: 0.01  # 5% of variation
          is_run_status: False
          table_storage: 1S
          #important only while simulating ctrlX
          simulation_value: 200                
          variation_simulation: 0.1

        - NodeId: "ns=2;s=plc/app/Application/sym/GVL_HMI/V"
          NamespaceIndex: 2
          RouteName: "plc/app/Application/sym/GVL_HMI/V"
          BrowseName: "V"
          Level: 8
          update_interval: 1000      # miliseconds 
          variation_threshold: 0.01  # 5% of variation
          is_run_status: False
          table_storage: 1S
          #important only while simulating ctrlX
          simulation_value: 300                
          variation_simulation: 0.1

        - NodeId: "ns=2;s=plc/app/Application/sym/GVL_HMI/ACT_Pos"
          NamespaceIndex: 2
          RouteName: "plc/app/Application/sym/GVL_HMI/ACT_Pos"
          BrowseName: "ACT_Pos"
          Level: 8
          update_interval: 500      # miliseconds 
          variation_threshold: 0.01  # 5% of variation
          is_run_status: False
          table_storage: 500mS
          #important only while simulating ctrlX
          simulation_value: 300                
          variation_simulation: 0.1

        - NodeId: "ns=2;s=plc/app/Application/sym/GVL_HMI/ACT_Vel"
          NamespaceIndex: 2
          RouteName: "plc/app/Application/sym/GVL_HMI/ACT_Vel"
          BrowseName: "ACT_Vel"
          Level: 8
          update_interval: 100      # miliseconds 
          variation_threshold: 0.01  # 5% of variation
          is_run_status: False
          table_storage: 500mS
          publish_all_data: True
          #important only while simulating ctrlX
          simulation_value: 300                
          variation_simulation: 0.1

        - NodeId: "ns=2;s=plc/app/Application/sym/GVL_HMI/Eff_hyd"
          NamespaceIndex: 2
          RouteName: "plc/app/Application/sym/GVL_HMI/Eff_hyd"
          BrowseName: "Eff_hyd"
          Level: 8
          update_interval: 1000      # miliseconds 
          variation_threshold: 0.05  # 5% of variation
          is_run_status: False
          table_storage: 1S
          #important only while simulating ctrlX
          simulation_value: 300                
          variation_simulation: 0.1

        - NodeId: "ns=2;s=plc/app/Application/sym/GVL_HMI/Eff_mech"
          NamespaceIndex: 2
          RouteName: "plc/app/Application/sym/GVL_HMI/Eff_mech"
          BrowseName: "Eff_mech"
          Level: 8
          update_interval: 100      # miliseconds 
          variation_threshold: 0.01  # 5% of variation
          is_run_status: False
          table_storage: 500mS
          publish_all_data: True
          #important only while simulating ctrlX
          simulation_value: 300                
          variation_simulation: 0.1

        - NodeId: "ns=2;s=plc/app/Application/sym/GVL_HMI/Eff_syst"
          NamespaceIndex: 2
          RouteName: "plc/app/Application/sym/GVL_HMI/Eff_syst"
          BrowseName: "Eff_syst"
          Level: 8
          update_interval: 1000      # miliseconds 
          variation_threshold: 0.01  # 5% of variation
          is_run_status: False
          table_storage: 1S
          #important only while simulating ctrlX
          simulation_value: 300                
          variation_simulation: 0.1

        - NodeId: "ns=2;s=plc/app/Application/sym/GVL_HMI/P_mech"
          NamespaceIndex: 2
          RouteName: "plc/app/Application/sym/GVL_HMI/P_mech"
          BrowseName: "P_mech"
          Level: 8
          update_interval: 1000      # miliseconds 
          variation_threshold: 0.01  # 5% of variation
          is_run_status: False
          table_storage: 1S
          #important only while simulating ctrlX
          simulation_value: 300                
          variation_simulation: 0.1

        - NodeId: "ns=2;s=plc/app/Application/sym/GVL_HMI/Q"
          NamespaceIndex: 2
          RouteName: "plc/app/Application/sym/GVL_HMI/Q"
          BrowseName: "Q"
          Level: 8
          update_interval: 1000      # miliseconds 
          variation_threshold: 0.01  # 5% of variation
          is_run_status: False
          table_storage: 1S
          #important only while simulating ctrlX
          simulation_value: 300                
          variation_simulation: 0.1


        - NodeId: "ns=2;s=plc/app/Application/sym/GLV_IO/rEnergiemonitoring_I1_i"
          NamespaceIndex: 2
          RouteName: "plc/app/Application/sym/GLV_IO/rEnergiemonitoring_I1_i"
          BrowseName: "1_Energ"
          Level: 8
          update_interval: 1000      # miliseconds 
          variation_threshold: 0.05  # 5% of variation
          is_run_status: False
          table_storage: 1S
          #important only while simulating ctrlX
          simulation_value: 300                
          variation_simulation: 0.1

        - NodeId: "ns=2;s=plc/app/Application/sym/GLV_IO/rEnergiemonitoring_U1_i"
          NamespaceIndex: 2
          RouteName: "plc/app/Application/sym/GLV_IO/rEnergiemonitoring_U1_i"
          BrowseName: "2_Energ"
          Level: 8
          update_interval: 1000      # miliseconds 
          variation_threshold: 0.05  # 5% of variation
          is_run_status: False
          table_storage: 1S
          #important only while simulating ctrlX
          simulation_value: 300                
          variation_simulation: 0.1

        - NodeId: "ns=2;s=plc/app/Application/sym/GVL_HMI/bHMI_Status_DigiOut_XG1_OutA_gb"
          NamespaceIndex: 2
          RouteName: "plc/app/Application/sym/GVL_HMI/bHMI_Status_DigiOut_XG1_OutA_gb"
          BrowseName: "Y1"
          Level: 8
          update_interval: 100      # miliseconds 
          variation_threshold: 0.05  # 5% of variation
          is_run_status: True
          table_storage: 500mS
          #important only while simulating ctrlX
          simulation_value: True                
          variation_simulation: 5

        - NodeId: "ns=2;s=plc/app/Application/sym/GVL_HMI/bHMI_Steuern_DigiOut_XG1_OutA_gb"
          NamespaceIndex: 2
          RouteName: "plc/app/Application/sym/GVL_HMI/bHMI_Steuern_DigiOut_XG1_OutA_gb"
          BrowseName: "Y1_S"
          Level: 8
          update_interval: 100      # miliseconds 
          variation_threshold: 0.05  # 5% of variation
          is_run_status: True
          table_storage: 500mS
          #important only while simulating ctrlX
          simulation_value: True                
          variation_simulation: 5

        - NodeId: "ns=2;s=plc/app/Application/sym/GVL_HMI/bHMI_Status_DigiOut_XG1_OutB_gb"
          NamespaceIndex: 2
          RouteName: "plc/app/Application/sym/GVL_HMI/bHMI_Status_DigiOut_XG1_OutB_gb"
          BrowseName: "Y2"
          Level: 8
          update_interval: 100      # miliseconds 
          variation_threshold: 0.05  # 5% of variation
          is_run_status: True
          table_storage: 500mS
          #important only while simulating ctrlX
          simulation_value: True                
          variation_simulation: 5

        - NodeId: "ns=2;s=plc/app/Application/sym/GVL_HMI/bHMI_Steuern_DigiOut_XG1_OutB_gb"
          NamespaceIndex: 2
          RouteName: "plc/app/Application/sym/GVL_HMI/bHMI_Steuern_DigiOut_XG1_OutB_gb"
          BrowseName: "Y2_S"
          Level: 8
          update_interval: 100      # miliseconds 
          variation_threshold: 0.05  # 5% of variation
          is_run_status: True
          table_storage: 500mS
          #important only while simulating ctrlX
          simulation_value: True                
          variation_simulation: 5

        - NodeId: "ns=2;s=plc/app/Application/sym/GVL_HMI/bHMI_Status_DigiOut_XG2_OutA_gb"
          NamespaceIndex: 2
          RouteName: "plc/app/Application/sym/GVL_HMI/bHMI_Status_DigiOut_XG2_OutA_gb"
          BrowseName: "Y3"
          Level: 8
          update_interval: 100      # miliseconds 
          variation_threshold: 0.05  # 5% of variation
          is_run_status: True
          table_storage: 500mS
          #important only while simulating ctrlX
          simulation_value: True                
          variation_simulation: 5

        - NodeId: "ns=2;s=plc/app/Application/sym/GVL_HMI/bHMI_Steuern_DigiOut_XG2_OutA_gb"
          NamespaceIndex: 2
          RouteName: "plc/app/Application/sym/GVL_HMI/bHMI_Steuern_DigiOut_XG2_OutA_gb"
          BrowseName: "Y3_S"
          Level: 8
          update_interval: 100      # miliseconds 
          variation_threshold: 0.05  # 5% of variation
          is_run_status: True
          table_storage: 500mS
          #important only while simulating ctrlX
          simulation_value: True                
          variation_simulation: 5                    


        # - NodeId: "ns=2;s=plc/app/Station2/sym/Monitoring/rEnergyConsumption"
        #   NamespaceIndex: 2
        #   RouteName: "plc/app/Station2/sym/Monitoring/rEnergyConsumption"
        #   BrowseName: "rEnergyConsumption"
        #   Level: 8
        #   update_interval: 1000      # miliseconds 
        #   variation_threshold: 0.05  # 5% of variation
        #   is_run_status: False
        #   table_storage: 1S
        #   simulation_value: 400              # use with simulated 
        #   variation_simulation: 0.1  # 6 % of variation with simulated ctrlX

        # - NodeId: "ns=2;s=system/apps/installed/snap_snapd/enabled"  
        #   NamespaceIndex: 2
        #   RouteName: "system/apps/installed/snap_snapd/enabled"
        #   BrowseName: "enabled"
        #   Level: 7
        #   update_interval: 1000
        #   is_run_status: True
        #   table_storage: 1S
        #   simulation_value: True            # use with simulated 
        #   variation_simulation: 4           # 6 % of variation with simulated ctrlX

solace:
  host: solace-broker
  port: 55555
  username: admin
  password: admin
  vpn: default  
  topics:
    raw_data: [opcua/data]
    transformed_data: [ctrlx/transformed]

postgres:
  host: postgres-db
  port: 5432
  user: boschrexroth
  password: boschrexroth
  db: automax
  schema: sandbox
  table: ctrlx_data
  write_interval: 60
  no_variation_publish: 60
  batch_size: 100
  initial_upload_duration: 20