opcua:
  controllers:
    - name: "CtrlX_1"
      site: Cube-Ulm
      # server_url_client: "opc.tcp://192.168.1.10:4840"  #Use with real CtrlX
      server_url_server: "opc.tcp://0.0.0.0:4840"         #Use with simulated CtrlX
      server_url_client: "opc.tcp://ctrlx-nodes:4840"     #Use with simulated CtrlX
      namespace: 192.168.1.1
      username: "boschrexroth"
      password: "boschrexroth"
      nodes:

        - NodeId: "ns=2;s=plc/app/Station1/sym/Monitoring/rEnergyConsumption"
          NamespaceIndex: 2
          RouteName: "plc/app/Station1/sym/Monitoring/rEnergyConsumption"
          BrowseName: "rEnergyConsumption"
          level: 8
          update_interval: 1000
          variation_threshold: 0.05            # 5% of variation
          is_run_status: False
          table_storage: 1M
          simulation_value: 100                 # use with simulated 
          variation_simulation: 0.06           # 6 % of variation with simulated ctrlX

        - NodeId: "ns=2;s=framework/bundles/com_boschrexroth_plc_system/active"
          NamespaceIndex: 2
          RouteName: "framework/bundles/com_boschrexroth_plc_system/active"
          BrowseName: "active"
          Level: 10
          update_interval: 1000
          is_run_status: True
          table_storage : 1M
          simulation_value: True
          variation_simulation: 5    #after 2 seconds it changes to the invert boolean value

    - name: "CtrlX_2"
      site: Cube-Ulm
      # server_url_client: "opc.tcp://192.168.1.20:4840"      #Use with real CtrlX
      server_url_server: "opc.tcp://0.0.0.0:4841"             #Use with simulated CtrlX
      server_url_client: "opc.tcp://ctrlx-nodes:4841"         #Use with simulated CtrlX
      namespace: 192.168.1.1
      username: "boschrexroth"                        # Fill with real Ctrlx
      password: "boschrexroth"                        # Fill with real Ctrlx

      #Fill with CtrlX with security
      interface: 15
      security_mode: "SignAndEncrypt"  
      security_policy: "Basic256Sha256"  
      private_key_path: "/certs/client-key.pem" 

      #Do not modify
      timeout: 10  
      update_interval: 1
      retries: 10
      retry_delay: 4

      nodes:
        # - NodeId: "ns=2;s=plc/app/Application/sym/PLC_PRG/bBlink"  
        #   NamespaceIndex: 2
        #   RouteName: "plc/app/Application/sym/PLC_PRG/bBlink"
        #   BrowseName: "bBlink"
        #   Level: 8
        #   update_interval: 100
        #   is_run_status: True
        #   table_storage: 1M

        # - NodeId: "ns=2;s=plc/app/Application/sym/PLC_PRG/bBlinkOld"  
        #   NamespaceIndex: 2
        #   RouteName: "plc/app/Application/sym/PLC_PRG/bBlinkOld"
        #   BrowseName: "bBlinkOld"
        #   Level: 8
        #   update_interval: 100
        #   is_run_status: True
        #   table_storage: 1M

        # - NodeId: "ns=2;s=plc/app/Application/sym/PLC_PRG/bStartOpModeChange" 
        #   NamespaceIndex: 2
        #   RouteName: "plc/app/Application/sym/PLC_PRG/bStartOpModeChange"
        #   BrowseName: "bStartOpModeChange"
        #   Level: 8
        #   update_interval: 100
        #   is_run_status: True
        #   table_storage: 1M

        # - NodeId: "ns=2;s=plc/app/Application/sym/PLC_PRG/rDistancePercent" 
        #   NamespaceIndex: 2
        #   RouteName: "plc/app/Application/sym/PLC_PRG/rDistancePercent"
        #   BrowseName: "rDistancePercent"
        #   Level: 8
        #   update_interval: 100
        #   variation_threshold: 0.05  # 5% of variation
        #   is_run_status: False
        #   table_storage: 1M

        # - NodeId: "ns=2;s=plc/app/Application/sym/GVL_HMI/P_s"
        #   NamespaceIndex: 2
        #   RouteName: "plc/app/Application/sym/GVL_HMI/P_s"
        #   BrowseName: "P_s"
        #   Level: 8
        #   update_interval: 100
        #   variation_threshold: 0.05  # 5% of variation
        #   is_run_status: False
        #   table_storage: 1M

        # - NodeId: "ns=2;s=plc/app/Application/sym/GVL_HMI/P_a"
        #   NamespaceIndex: 2
        #   RouteName: "plc/app/Application/sym/GVL_HMI/P_a"
        #   BrowseName: "P_a"
        #   Level: 8
        #   update_interval: 100
        #   variation_threshold: 0.05  # 5% of variation
        #   is_run_status: False
        #   table_storage: 1M

        # - NodeId: "ns=2;s=plc/app/Application/sym/GVL_HMI/P_b"
        #   NamespaceIndex: 2
        #   RouteName: "plc/app/Application/sym/GVL_HMI/P_b"
        #   BrowseName: "P_b"
        #   Level: 8
        #   update_interval: 1
        #   variation_threshold: 0.05  # 5% of variation
        #   is_run_status: False
        #   table_storage: 1M

        # - NodeId: "ns=2;s=plc/app/Application/sym/GVL_HMI/V"
        #   NamespaceIndex: 2
        #   RouteName: "plc/app/Application/sym/GVL_HMI/V"
        #   BrowseName: "V"
        #   Level: 8
        #   variation_threshold: 0.05  # 5% of variation
        #   is_run_status: False
        #   table_storage: 1M

        - NodeId: "ns=2;s=plc/app/Station2/sym/Monitoring/rEnergyConsumption"
          NamespaceIndex: 2
          RouteName: "plc/app/Station2/sym/Monitoring/rEnergyConsumption"
          BrowseName: "rEnergyConsumption"
          Level: 8
          update_interval: 1000      # miliseconds 
          variation_threshold: 0.05  # 5% of variation
          is_run_status: False
          table: 1M
          simulation_value: 100              # use with simulated 
          variation_simulation: 0.06  # 6 % of variation with simulated ctrlX

        - NodeId: "ns=2;s=system/apps/installed/snap_snapd/enabled"  
          NamespaceIndex: 2
          RouteName: "system/apps/installed/snap_snapd/enabled"
          BrowseName: "enabled"
          Level: 7
          update_interval: 1000
          is_run_status: True
          table: 1M
          simulation_value: True            # use with simulated 
          variation_simulation: 4  # 6 % of variation with simulated ctrlX

solace:
  host: solace-broker
  port: 55555
  username: admin
  password: admin
  vpn: default  
  topics:
    raw_data: [opcua/data]
    transformed_data: [ctrlx/transformed]

postgres:
  host: postgres-db
  port: 5432
  user: boschrexroth
  password: boschrexroth
  db: automax
  schema: sandbox
  table: ctrlx_data
  write_interval: 60
  batch_size: 100